* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: black;
    font-family: 'Poppins', sans-serif;
  }
  .gallery-container {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1178px;
    height: 588px;
    transition: all 0.5s ease;
  }
  .gallery-item {
    width: 293px;
    height: 588px;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease;
  }
  .gallery-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
    opacity: 0.8;
    transition: opacity 0.5s ease, backdrop-filter 0.5s ease, transform 0.5s ease, filter 0.5s ease;
  }
  .gallery-item:hover::after {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px) grayscale(100%);
    transform: scale(1.05);
    filter: blur(4px);
  }
  .item-content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    color: white;
  }
  .item-name {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
  }
  .item-country {
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 20px;
    transition: transform 0.3s ease; 
  }
  .item-more {
    font-size: 13px;
    color: rgb(53, 196, 221);
    opacity: 0;
    cursor: pointer;
  }
  .gallery-item:hover .item-more {
    opacity: 1;
  }
  .gallery-item:hover .item-name, .gallery-item:hover .item-country {
    transform: translateY(-30px);
  }
  

  @media (max-width: 1180px) {
    .gallery-container {
      width: 95%;
      height: 570px;
    }
    .gallery-item {
      width: 45%;
      height: 100%;
    }
    .item-name {
      font-size: 20px;
    }
  }
  @media (max-width: 740px) {
    .gallery-container {
      width: 95%;
      height: 560px;
    }
    .gallery-item {
      width: 45%;
      height: 100%;
    }
    .item-name {
      font-size: 15px;
    }
  }
  @media (max-width: 590px) {
    .gallery-container {
      width: 100%;
      height: 550px;
    }
    .gallery-item {
      width: 45%;
      height: 100%;
    }
    .item-content {
      display: none;
    }
  }
  
  .no-hover::after {
    opacity: 0 !important;
    background: none !important;
    backdrop-filter: none !important;
  }
  
  .no-hover::before {
    transform: none !important;
    filter: none !important;
  }
  